* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.barra {
    height: 3px;
    width: 100%;
    background-color: grey;
}

header {
    height: 80px;
    width: 100%;
    background-color: beige;
}

.logo-incoffe img {
    height: 75px;
}

li, a {
    color: black;
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
    font-size: 17px;
}

.usuario img {
    height: 40px;
    margin-left: 30px;
    margin-right: 20px;
}

main {
    background-color: beige;
    height: 1800px;
}

.img-main img {
    width: 100%;
    height: 450px;
}

.about-us {
    margin-top: 30px;
    margin-left: 50px;
}

.desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc p {
    width: 500px;
    font-size: 20px;
    margin-top: 20px;
}

.produtos h1 {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 45px;
}

.carousel-control-prev{
    margin-left: -150px;
    padding-left: 150px;
    height: 50px;
    border-radius: 50px;
    margin-top: 250px;
}

.carousel-control-next {
    margin-right: -150px;
    padding-right: 150px;
    height: 50px;
    border-radius: 50px;
    margin-top: 250px;
}

.card-img-top {
    height: 300px;
}

.card {
    height: 500px;
}

.btn, .btn-primary {
    position: absolute;
    bottom: 15px;
}

footer {
    background-color: black;
    height: 350px;
}

footer h1 {
    color: white;
}

.col-custom {
    width: 25%;
}

@media screen and (min-width:"425px") {
    .col-custom {
        width: 50%;
    }
}